<ion-view hide-nav-bar="true">
	<ion-nav-bar class="bar-balanced">
		<ion-nav-back-button>
	  	</ion-nav-back-button>
	</ion-nav-bar>
	<ion-content class="padding loginContent">
		<div class="buttonInMiddle">
			<button ng-click="googleLogin()" class="button button-block"><i class="ion-social-google"></i> Sign up with Google</button>
			<a href="http://52.87.187.229/register" target="_blank"><button class="button button-block"><i class="ion-email"></i> Sign up with email</button></a>
			<div class="text-center question">
				<a class="loginChoice" href="#/login">Login</a>
			</div>
		</div>
	</ion-content>
</ion-view>