<ion-view view-title="Topic">
	<ion-content>
	<div class="list card check_topic">
	  <div class="item item-avatar">
	    <img ng-src="{{ topic.user_avatar }}">
	    <h2>{{ topic.user_name }}</h2>
	    <p>{{ topic.created_time }}</p>
	  </div>

	  	<div class="item item-body item-image-video">
		  	<div class="imageContainer" ng-hide="topic.pic_thumbnail === ''">
		  		 <img class="full-image" ng-hide="topic.pic_thumbnail === ''" image-lazy-src="{{ topic.pic_thumbnail }}"
		    image-lazy-loader="ripple">
		  	</div>
		   
		   	<div ng-hide="video_visible != true" ng-click="playVideo(topic.video, topic.video_thumbnail)" class="videoContainer">
		  		<div class="full-video-image {{ topic.video_thumbnail }}" ng-hide="topic.video === ''" image-lazy-src="{{ topic.video_thumbnail }}"
		    image-lazy-loader="ripple" image-lazy-background-image="true">
		    		<div class="PlayIcon"><i class="ion-play"></i></div>
		    	</div>

		    	<cordova-video ng-show="video != ''" class="{{ topic.video }}" style="display:none;" src="video" type="videoType"></cordova-video>
		  	</div>
	  	</div>
	  	<div class="item row">
			<div class="col {{ topic.id }}-inspire" ng-click="beInspiredBy(topic.id)" ng-class="{ inspired:topic.inspiredBy }"><i class="icon ion-android-bulb comments"></i> <span class="comments-text {{ topic.id }}-inspiredCount">{{ topic.inspires }}</span></div>
			<div class="col" ui-sref="tab.comments({id: topic.id})"><i class="icon ion-chatbubbles comments"></i> <span class="comments-text">{{ topic.comments_ammount }}</span></div>
		</div>
	  	<div class="item item-body bodytext">
	  		<h1 class="title">{{ topic.title | capitalize }}</h1>
		    <h1 class="subtitle">{{ topic.category | capitalize }}</h1>
		    <p> 
		     {{ topic.summary | capitalize }}...
		    </p>
		    <p class="topic_tags"><a href="#/tab/tag_category/{{ tag.name }}" ng-repeat="tag in topic.tags">#{{ tag.name }}&nbsp;</a></p>
	  	</div>
	</div>
	</ion-content>
</ion-view>